.container {
	width: 100vw;
	height: 100svh;
	display: flex;
	flex-direction: column;
	gap: 30px;
	align-items: center;
	justify-content: center;
}

.title {
	font-size: 46px;
	line-height: 40px;
	font-weight: 700;
	text-align: center;
}

@media (width >= 600px) {
	.title {
		font-size: 64px;
		line-height: 55px;
		text-align: left;
	}
}
