.button {
	position: relative;
	background: none;
	border: 1px solid var(--accent-color);
	border-radius: 3px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 15px 0;
	color: var(--accent-color);
	font-size: 12px;
	grid-column: 1/3;
	cursor: pointer;
}

.button::before {
	content: '';
	position: absolute;
	z-index: 5;
	width: 100%;
	height: 0;
	top: 100%;
	left: 0;
	background: var(--accent-color);
	transition: all 0.3s ease;
}

.button:hover {
	color: rgb(249, 248, 246);
}

.button:hover > p {
	z-index: 6;
	transition: all 0.3s ease;
}

.button:hover::before {
	height: 100%;
	top: 0;
}

@media (width >= 425px) {
	.button {
		font-size: 13px;
	}
}
@media (width >= 768px) {
	.button {
		font-size: 14px;
	}
}
@media (width >= 1220px) {
	.button {
		font-size: 15px;
	}
}
