.header {
	position: fixed;
	z-index: 4;
	padding-top: 9.6px;
	display: flex;
	justify-content: flex-end;
	width: 100%;
}

.open_button {
	color: var(--text-color);
	font-size: 11px;
	font-weight: 300;
	padding: 0 13px;
	height: 30px;
	background-color: #f0efed;
	border: none;
	border-radius: 15px;
	transform: translateX(-10px);
}

.list {
	display: none;
	list-style: none;
}

@media (width >= 425px) {
	.open_button {
		font-size: 13px;
	}
}

@media (width >= 1024px) {
	.open_button {
		display: none;
	}
	.list {
		display: block;
	}
	.header {
		position: static;
	}
}
