.text_container {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.text {
	font-weight: 800;
	letter-spacing: -5px;
	line-height: min(21vw, 180px);
	font-size: min(22vw, 190px);
	opacity: 0.15;
}

@media (width >= 768px) {
	.text {
		font-size: min(13vw, 220px);
	}
	.text_container {
		flex-direction: row;
		justify-content: space-between;
		gap: 20px;
	}
}

@media (width >= 1024px) {
	.text_container {
		margin-top: 35px;
	}
}
